@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono|Dosis');

$grey : grey;
$medium-grey : #494745;
$yellow : #eefc3a; 

body {
  background-color: $yellow;  
  text-align: center;
}

html {
  font-size: 16px;
}

h1 {
  font-family :  Share Tech Mono;
  color: white;
} 

h2 {
  font-family :  Share Tech Mono;
}

h3 {
  font-family :  Share Tech Mono;
}

h4 {
  font-family :  Share Tech Mono;
}  
 
 #drum-machine {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 } 

 .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items : stretch;
 }

 .flex-container > div {
    background-color : yellow;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    margin: 10px;
    display : inline-block; 
    width: 100px;
    box-shadow: 10px 10px lightblue;
 }

 .padbtn {
  height: 50px;
 }

 .padbtn h1 {
  color : black;
 }

 .slider {
  -webkit-appearance: none;
  width: 80%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top : 25px;
}

.slider:hover {
  opacity: 1;
}

 .slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: black; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

@media (prefers-reduced-motion: no-preference) {
   
}

.App-header {
  background-color:  $medium-grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
